.main-image { 
    width: 60%;
}

.card-image-top { 
    height: 160px;
}

body {
    border: 5px solid black;
    background-color: silver; 
}

.navbar {
    height: auto;
}
.container-fluid {
    background-color: teal;
}

.content {
    width: 95%;
    height: auto;
    padding: 5px solid white;
    padding-left: 30px;
    padding-top: 70px;
    border: 5px;
    margin: 5px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 1px;
    background-color: lightgrey;
    text-align: center;
    line-height: 2;
    letter-spacing: 3px;
}

.content-2 {
    width: 100%;
    height: auto;
    padding: 50px solid black;
    padding-left: 30px;
    background-color: lightgray;
}

.content-3 { 
    margin: 30px; 
}

.content-4 {
    display: flex;
    width: 100%;
    height: auto;
    padding: 5px solid black;
    background-color: silver;
    gap: 20px;
}
